

.auth-container {
  display: flex;
  width: min(1000px, 90%);
  min-height: calc(100vh - 200px);
  margin: 20px auto;
  padding: 20px;
  gap: 70px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #a6a6a6;
  align-items: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 350px;
}
@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    width: 90%;
    padding: 25px;
    gap: 30px;
  }

  .auth-form {
    width: 100%;
    max-width: 350px;
    
  }
   .login-image {
        width: 100%;
        max-width: 350px;
        height: 250px;
    }

}